---
import {Star} from 'lucide-astro'

import Counter from '../features/counter';
import Languages from '../features/languages';
import MaxCounter from '../features/max-counter';
import Title from '../features/title';
import Layout from '../layouts/layout.astro';
---

<Layout className='h-screen grid items-center'>
	<main class='flex flex-col items-center justify-center'>
		<Title client:only="preact" />

		<Star class='mx-auto'/>

		<Counter client:only="preact" />
		<MaxCounter client:only="preact" />
		<Languages client:only="preact" />
	</main>
</Layout>
